<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hello Furrever Family and Friends!</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
   <section class="hero">
        <img src="/Assets/banner.jpg" alt="banner" width="100%">
        <div class="hero-body">
            
        </div>
    </section>
<nav class="navbar has-background-success">
        <div class="navbar-end">
            <button id="home" class="button has-background-grey has-text-white">Home</button> 
            <button id="profile" class="button has-background-grey has-text-white">Profile</button>
         
            {{#if loggedIn}}
            <button id="logout" class="button has-text-white has-background-info">Logout</button>
            {{else}}
               <button id="login"class="button has-text-white has-background-info">Log In / Sign UP</button> 
            {{/if}}
        </div>
    </nav>

<body>
    {{!--  Our Banner to be inserted in main handle bar and below is sample only --}}
 
    
    <main>
        <aside></aside>
        {{!-- Where our questionnaire will go --}}
        {{{body}}}
    </main>
    <script src="/js/index.js"></script>
    <script src="/js/logout.js"></script>

</body>



</html>