<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hello Furrever Family and Friends!</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<div class="card">
  <div class="card-image">
    <figure>
        <img src="/Assets/banner.jpg" alt="banner" width="100%"> </figure> </div>
        <div class="card-content is-overlay">
<<<<<<< HEAD
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <span class="navbar-item">
                        <a id="home" class="button has-background-grey has-text-white" href="#">
                            <span>Home</span>
                        </a>
                    </span>
                    </div>
                    <span class="navbar-item">
                        <a id="profile" class="button has-background-grey has-text-white" href="#">
                            <span>Profile</span>
                        </a>
                    </span>
                    {{#if loggedIn}}
                    <span class="navbar-item">
                        <a id="logout" class="button has-text-white has-background-info" href="#">
                            <span>Log Out</span>
                        </a>
                    </span>
                    {{else}}
                    <span class="navbar-item">
                        <a id="login" class="button has-text-white has-background-info" href="#">
                            <span>Log In</span>
                        </a>
                    </span>
                    {{/if}}
                 
=======
        <div class="navbar-end">
            <button id="home" class="button has-background-grey has-text-white">Home</button> 
            <button id="profile" class="button has-background-grey has-text-white">Profile</button>
         
            {{#if loggedIn}}
            
            <button id="logout" class="button has-text-white has-background-info">Logout</button>
            {{else}}
               <button id="login"class="button has-text-white has-background-info">Log In / Sign UP</button> 
            {{/if}}
>>>>>>> main
        </div>
</div>
</div>
<body>
    {{!--  Our Banner to be inserted in main handle bar and below is sample only --}}
 
    
    <main>
        <aside></aside>
        {{!-- Where our questionnaire will go --}}
        {{{body}}}
    </main>
     <script src="/js/homepage.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/logout.js"></script>
   

</body>
