 <!-- Our Banner to be inserted in main handle bar and below is sample only-->
  <section class="hero">
    <img src="./images/banner.jpg" alt="banner" width="100%">
    <div class="hero-body">
    </div>
  </section>
  <!-- NavBar to be inserted in main handle bar-->
  <!-- Bulma's neat nested table method-->
  <section class="tile is-ancestor">
    <!-- this is the image and adoption section -->
    <section class="tile is-parent is-vertical is-5">
      <section class="tile is-child notification is-vertical has-text-centered">
        <br><br><br>
        <p class="title has-text-info-dark"><strong>Welcome, Furry Friends and Families!</strong></p>
        <p class="subtitle">Did you already create a profile for the pet(s) you're currently fostering?<br>If you haven't yet, don't forget to create one right now!</strong></p>
        <br>
        <img src="./images/Sample1.jpg" alt="Placeholder">
        <br><br>
        <p class="title has-text-info-dark"><strong>Are You Serious About Adoption?</strong></p>
        <p class="subtitle">Hello, our valuable friend/family member! Do you want to take the next step? Please drop the url of the Shelter your pet is currently associated with. </p>
        <!-- Don't forget the shelter url for adoption! -->
        <label for="adopt_me_url" class="label is-normal is-inline">Shelter URL:</label>
        <input type="url" id="adopt_me_url" name="adopt_me_url" placeholder="https://www.shelter.org/" style="width:55%">
        <button class="button is-small has-background-info-dark is-inline has-text-white" id="submit_url" type="submit"
          style="height:27px"><strong>Submit</strong></button>
        </form>
        <br><br>
      </section>
    </section>
    <!-- this is the questionnaire area -->
    <section class="tile is-parent is-vertical is-9">
      <section class="tile is-child notification is-vertical">
        <br>
        <p class="title is-3 has-text-info-dark"><strong>Please fill this questionnaire out in order to create a profile.</strong></p>
        <!-- this is where the main form is! -->
        <form id="questionnaire">
          <label for="animal_type" class="label is-medium is-inline">I am a:</label>
          <input type="radio" class="animal_type" name="animal_type" value="cat">
          <label for="Cat">Cat</label>
          <input type="radio" class="animal_type" name="animal_type" value="dog">
          <label for="Dog">Dog</label>
          <br><br>
          <label for="name" class="label is-medium is-inline">My Name:</label>
          <input type="text" id="name" name="name" Placeholder="Pet Name" style="width:40%">
          <br><br>
          <label for="age" class="label is-medium is-inline">My Age:</label>
          <select id="age">
            <option value="zero-one-yo">0-1 year old</option>
            <option value="one-yo">1 year old</option>
            <option value="two-five-yo">2-5 years old</option>
            <option value="five-eight-yo">5-8 years old</option>
            <option value="eight-eleven-yo">8-11 years old</option>
            <option value="eleven-fourteen-yo">11-14 years old</option>
            <option value="fourteen-eighteen-yo">14-18 years old</option>
            <option value="eighteen-and-up">18+ years old</option>
          </select>
          <br><br>
          <label for="breed_mix" class="label is-medium is-inline">My Breed/Mix:</label>
          <input type="text" id="breed_mix" name="breed_mix" Placeholder="Use our autocompletion from existing database"
            style="width:40%">
          <br><br>
          <label for="personality_quirks" class="label is-medium is-inline">My Personality Quirks:</label>
          <input type="text" id="personality_quirks" name="personality_quirks" Placeholder="Personality Quirks"
            style="width:40%">
          <br><br>
          <label for="dog" class="label is-medium is-inline">I get along with other dogs:</label>
          <input type="radio" class="dog" name="dog" value="yes">
          <label for="Yes">Yes</label>
          <input type="radio" class="dog" name="dog" value="no">
          <label for="No">No</label>
          <br><br>
          <label for="cat" class="label is-medium is-inline">I get along with other cats:</label>
          <input type="radio" class="cat" name="cat" value="yes">
          <label for="Yes">Yes</label>
          <input type="radio" class="cat" name="cat" value="no">
          <label for="No">No</label>
          <br><br>
          <label for="kids" class="label is-medium is-inline">I get along with other children:</label>
          <input type="radio" class="kids" name="kids" value="yes">
          <label for="Yes">Yes</label>
          <input type="radio" class="kids" name="kids" value="no">
          <label for="No">No</label>
          <br><br>
          <label for="furry_family" class="label is-medium is-inline">My Furry Friends/Family Members are
            called:</label>
          <input type="text" id="furry_family" name="furry_family" placeholder="Family Full Name" style="width:40%">
          <br><br>
          <label for="email" class="label is-medium is-inline">Email Address:</label>
          <input type="email" id="email" name="email" placeholder="Test@email.com" style="width:40%">
          <br><br>
          <label for="date_fostered" class="label is-medium is-inline">Fostered Since:</label>
          <input type="text" id="date_fostered" name="date_fostered" placeholder="MM/DD/YYYY" style="width:40%">
          <br><br>
          <label for="neutered_spayed" class="label is-medium is-inline">I am neutered/spayed:</label>
          <input type="radio" class="neutered_spayed" name="neutered_spayed" value="yes">
          <label for="Yes">Yes</label>
          <input type="radio" class="neutered_spayed" name="neutered_spayed" value="no">
          <label for="No">No</label>
          <br><br>
          <label for="vaxed" class="label is-medium is-inline">I am vaccinated:</label>
          <input type="radio" class="vaxed" name="vaxed" value="yes">
          <label for="Yes">Yes</label>
          <input type="radio" class="vaxed" name="vaxed" value="no">
          <label for="No">No</label>
          <br><br>
          <label for="diet" class="label is-medium is-inline">My Diet:</label>
          <input type="text" id="diet" name="diet" placeholder="My Diet" style="width:40%">
          <br><br>
          <label for="i_love" class="label is-medium is-inline"> I love to:</label>
          <input type="text" id="i_love" name="i_love" Placeholder="Description" style="width:40%">
          <br><br>
          <button class="button has-background-info-dark has-text-white" id="create_profile" style="height: 27px"
            type="submit"><strong>Create My Profile!</strong></button>
        </form>
      </section>
    </section>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="test_profile.js"></script>