
    <section class="section">
        {{#each profiles as |profile| }}
        <div class="container has-text-centered">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title has-text-white has-background-link">{{profile.profile.name}}</p>
                        <figure class="image is-128x128">
                            <img src="{{profile.image.multimedia_url}}"/>
                          </figure>
                    </article>
         </div>
         {{/each}}
    </section>
               