<section class="hero is-primary is-fullheight">
    <div class="hero-body ">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form   id="login-form" class="box">
              <div class="field">
                <label for="" class="label">Email</label>
                <div class="control has-icons-left">
                  <input id="email-login"type="email" placeholder="e.g. mcgrundle@beefmail.com" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control has-icons-left">
                  <input id="password-login" type="password" placeholder="*******" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="checkbox">
                  <input type="checkbox">
                 Remember me
                </label>
              </div>
              <div class="field">
                <button type="submit"class="button has-background-info-dark has-text-white is-link ">
                  Login
                </button>
              </div>
                </form>
              <label for="" class="label is-small">Not a member?</label>
              <button id="signUp"class="notification is-small is-link">
                Sign up!
              </button>
              <button id="goHome"class="notification is-small is-link">
                No thanks, take me to the pets!
              </button>
          
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="/js/login.js"></script>