 <section class="hero  is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form id="signup-form" class="box">
    <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input id="username-signup"class="input" type="text" placeholder="Username">
        </div>
      </div>

       <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input id="email-signup"class="input" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p class=""></p>
      </div>
      
      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input id="password-signup"class="input" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        {{!-- <p class="help is-success">This username is available!</p> --}}
      </div>
      
     
      
      <div class="field">
        <div class="control">
          <button class="button has-background-info-dark has-text-white is-link" style="width:100%">Submit</button>
        </div>
        </form>
        </div>
        
          <label  class="label is-small is-size-5 has-text-white">Already have an account?</label>
          <button id="loginPage" class="button is-size-6 has-background-info-dark is-small is-link has-text-centered has-text-white" style="width:100%">
            Log In! 
          </button><br><br>
          <button id="goHome"class="button is-size-6 has-background-info-dark is-small is-link has-text-centered has-text-white" style="width:100%">
            No thanks, take me to the pets!
          </button>
         </div>
        </div>
      </div>
      <script src="/js/signup.js"></script>
